@import './base.css';

@font-face {
  font-family: 'ITP';
  src: url('/assets/fonts/ITPLight.TTF') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ITP';
  src: url('/assets/fonts/ITPLightItalic.TTF') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ITP';
  src: url('/assets/fonts/ITPRegular.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ITP';
  src: url('/assets/fonts/ITPRegularItalic.TTF') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ITP';
  src: url('/assets/fonts/ITPMedium.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ITP';
  src: url('/assets/fonts/ITPMediumItalic.TTF') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ITP';
  src: url('/assets/fonts/ITPBold.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ITP';
  src: url('/assets/fonts/ITPBoldItalic.TTF') format('truetype');
  font-weight: 700;
  font-style: italic;
}

.coming-soon-regular {
  font-family: 'Coming Soon', cursive;
  font-weight: 400;
  font-style: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0rem;
  }
}
